# Детекция объектов + работа с камерой
ultralytics>=8.2
opencv-python
numpy
pillow
pyrealsense2
matplotlib
tqdm
rich
click

# Распознавание Олега (по лицу)
face_recognition
# или insightface (как альтернатива)
